.Main-container{
    border: 1px solid black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: rgb(255, 255, 255);
}
.signup-form{
    height: 200px;
    width: 250px;
    border: 1px solid greenyellow;
    border-radius: 10px;
    box-shadow: 0px 5px 8px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(146, 240, 240);
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid white;
}
#btn{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgb(117, 251, 207);
    transition: 0.8s ease;
    cursor: pointer;
}
#btn:hover{
    box-shadow: 1px 1px 8px black;
}