.Home{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
    overflow-x: hidden;
    height: 100vh;
}

.home-top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:bisque;
    border-radius: 10px;
    padding: 10px;
}

.home-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    gap: 30px;
    animation: brandsScroll 20s linear infinite;
}

@keyframes brandsScroll {
    0%{
        transform:translateX(0%) ;
    }
    100%{
        transform: translateX(-100%);
    }
}

.home-card{
    border: 1px solid black;
    height: 110px;
    min-width: 175px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 6px 8px rgb(100, 100, 100);
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;
    background: linear-gradient(45deg, rgb(255, 129, 228) 0%, rgb(184, 251, 85) 100%);
    transition: 0.8s ease;
}

.home-card:hover{
    transform: scale(1.08);
}

.home-footer {
  margin-top: 40px;
  padding: 20px;
  background-color: #222;
  color: #fff;
  text-align: center;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0px;
}

.home-footer p {
  margin: 0;
  font-size: 14px;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: #ddd;
  margin: 0 10px;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  color: #fff;
  text-decoration: underline;
}
