*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-head{
    height: 80px;
    background: linear-gradient(135deg, rgb(128, 182, 248) 0%,rgb(241, 229, 91));
    border-radius: 8px;
    position: sticky;
    top:0px;
    z-index: 1000;
    box-shadow: 1px 2px 10px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
#nav-items button{
    border-radius: 5px;
    border: 1px solid none;
    cursor: pointer;
}

.nav-links{
    text-decoration-line: none;
    color: white;
    font-weight: 600;
    font-size: large;
}

.center{
    display: flex;
    gap: 20px;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  padding: 10px;
}

.dropdown-menu button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
}

.end {
  position: relative;
  cursor: pointer;
}
